[Unit]
Description=cclipd deamon 
After=network.target

[Service]
Type=simple
ExecStart=cclipd -s 2 -t "image/png" -t "image/*" -t "text/plain;charset=utf-8" -t "text/*" -t "*"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
