[Unit]
Description=Termusic Server
After=network.target

[Service]
Type=simple
ExecStart=termusic-server
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
